apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: feature-flags-api-monitor
  namespace: {{ .Release.Namespace }}
  labels:
    app: feature-flags-api
    release: {{ .Release.Name }}
spec:
  selector:
    matchLabels:
      app: feature-flags-api
  namespaceSelector:
    matchNames:
      - default
  endpoints:
    - port: http
      path: /metrics
      interval: 30s
      scrapeTimeout: 10s
