apiVersion: v1
kind: Service
metadata:
  name: feature-flags-api-service
  labels:
    app: feature-flags-api-service
spec:
  type: ClusterIP
  ports:
  - port: 5000
    targetPort: 5000
    protocol: TCP
    name: http
  selector:
    app: feature-flags-api
