apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: kube-prometheus-stack
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "2"
spec:
  project: default
  source:
    repoURL: https://github.com/shaarron/feature-flags-resources.git
    targetRevision: app-of-apps-fixes
    path: infrastructure/kube-prometheus-stack
    helm:
      releaseName: kube-prometheus-stack
      values: |
        global:
          host: its-sharon.com
  destination:
    server: https://kubernetes.default.svc
    namespace: kps
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
      - CRDs=true
