# namespace: mongodb

# MongoDB Operator settings
mongo:
  name: mongo
  version: "7.0.25"
  members: 1
  type: ReplicaSet


  rootUser: root1
  appUser: featureflags


  database: featureflags

  storageSize: 1Gi

  resources:
    requests:
      memory: "128Mi"
      cpu: "50m"
    limits:
      memory: "256Mi"
      cpu: "100m"

  authenticationMode: ["SCRAM"]
  secretName: mongo-secret

  service:
    name: mongo
    port: 27017
    type: ClusterIP
