global:
  host: ""
tlsSecretName: ""

namespace: efk

elasticsearch:
  version: "9.1.5"
  selfSignedDisabled: true
  nodeSetName: "default"
  #change to ha later
  nodeCount: 1
  allowMmap: false

  resources:
    requests:
      cpu: 300m
      memory: 2Gi
    limits:
      cpu: "1"
      memory: 2Gi

  storage:
    accessModes: ["ReadWriteOnce"]
    size: 10Gi

kibana:
  version: "9.1.5"
  count: 1
  elasticsearchRef: "elasticsearch"
  resources:
    requests:
      cpu: "400m"
      memory: "1Gi"
    limits:
      memory: "2Gi"
  publicBaseUrl: "https://kibana.its-sharon.com"

fluent-bit:
  image:
    repository: fluent/fluent-bit
    tag: 4.2.0
  resources:
    requests:
      cpu: "100m"
      memory: "100Mi"
    limits:
      cpu: "200m"
      memory: "200Mi"

  env:
    - name: ES_PASSWORD
      valueFrom:
        secretKeyRef:
          name: elasticsearch-es-elastic-user
          key: elastic
    - name: ES_USER
      value: elastic

  config:
    service: |
      [SERVICE]
          Daemon Off
          Flush 5
          Log_Level info
          Parsers_File /fluent-bit/etc/parsers.conf
          Parsers_File /fluent-bit/etc/conf/custom_parsers.conf
          HTTP_Server On
          HTTP_Listen 0.0.0.0
          HTTP_Port 2020
          Health_Check On
          Trace_Error On

    inputs: |
      [INPUT]
          Name tail
          Path /var/log/containers/*.log
          multiline.parser docker, cri
          Tag kube.${namespace_name}.${pod_name}.${container_name}
          Mem_Buf_Limit 15MB
          Skip_Long_Lines On
          Refresh_Interval 10

      [INPUT]
          Name systemd
          Tag host.*
          Systemd_Filter _SYSTEMD_UNIT=kubelet.service
          Read_From_Tail On

    filters: |
      [FILTER]
          Name kubernetes
          Match kube.*
          Labels On
          Annotations Off
          Merge_Log On
          Keep_Log Off
          Kube_URL https://kubernetes.default.svc:443
          Kube_CA_File /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
          Kube_Token_File /var/run/secrets/kubernetes.io/serviceaccount/token

      [FILTER]
          Name parser
          Match kube.ingress.*
          Key_Name log
          Parser nginx
          Reserve_Data On
      
      [FILTER]
          Name grep
          Match kube.*
          Exclude kubernetes.container_name fluent-bit

    outputs: |
      [OUTPUT]
          Name es
          Match kube.*
          Host elasticsearch-es-http
          Port 9200
          HTTP_User ${ES_USER}
          HTTP_Passwd ${ES_PASSWORD}
          tls Off
          Logstash_Format On
          Logstash_Prefix logs
          Retry_Limit 20
          Suppress_Type_Name On
          Compress gzip

      [OUTPUT]
          Name es
          Match host.*
          Host elasticsearch-es-http
          Port 9200
          HTTP_User ${ES_USER}
          HTTP_Passwd ${ES_PASSWORD}
          tls Off
          Logstash_Format On
          Logstash_Prefix node
          Retry_Limit 20
          Suppress_Type_Name On
          Compress gzip

    customParsers: |
      [PARSER]
          Name nginx
          Format regex
          Regex ^(?<remote>[^ ]*) - (?<user>[^ ]*) \\[(?<time>[^\\]]*)\\] "(?<method>\\S+)(?: +(?<path>[^\\"]*?)(?: +\\S*)?)?" (?<code>[^ ]*) (?<size>[^ ]*) "(?<referer>[^\\"]*)" "(?<agent>[^\\"]*)" (?<request_length>[^ ]*) (?<request_time>[^ ]*) \\[(?<proxy_upstream_name>[^ ]*)\\] (?<upstream_addr>[^ ]*) (?<upstream_response_length>[^ ]*) (?<upstream_response_time>[^ ]*) (?<upstream_status>[^ ]*) (?<host>[^ ]*) (?<server_protocol>[^ ]*)
          Time_Key time
          Time_Format %d/%b/%Y:%H:%M:%S %z

      [PARSER]
          Name json_parser
          Format json
          Time_Key time
          Time_Format %Y-%m-%dT%H:%M:%S.%NZ