mongo:
  name: mongo
  version: "7.0.25"
  members: 1
  type: ReplicaSet

  rootUser: root1
  appUser: featureflags

  database: featureflags

  storageSize: 1Gi

  resources:
    requests:
      memory: "128Mi"
      cpu: "50m"
    limits:
      memory: "256Mi"
      cpu: "100m"

  # readinessProbe:
  #     exec:
  #       command:
  #         - /bin/sh
  #         - -c
  #         - "mongosh --port 27017 --quiet --eval 'db.runCommand({hello: 1})'"
  #     initialDelaySeconds: 30
  #     periodSeconds: 10
  #     timeoutSeconds: 5
  #     failureThreshold: 6 

  # livenessProbe:
  #   exec:
  #     command:
  #       - /bin/sh
  #       - -c
  #       - "mongosh --port 27017 --quiet --eval 'db.runCommand({hello: 1})'"
  #   initialDelaySeconds: 60
  #   periodSeconds: 20
  #   timeoutSeconds: 5
    # failureThreshold: 3

  authenticationMode: ["SCRAM"]

  externalSecrets:
    enabled: true
  secretName: mongo-secret

  service:
    name: mongo
    port: 27017
    type: ClusterIP
