mongo:
  name: mongo
  version: "7.0.25"
  members: 1
  type: ReplicaSet

  rootUser: root1
  appUser: featureflags

  database: featureflags

  storageSize: 1Gi

  resources:
    requests:
      memory: "128Mi"
      cpu: "50m"
    limits:
      memory: "256Mi"
      cpu: "100m"

  readinessProbe:
    exec:
      command:
        - mongosh
        - --quiet
        - --eval
        - "db.adminCommand('ping')"
    initialDelaySeconds: 10
    periodSeconds: 10
    timeoutSeconds: 5
    failureThreshold: 3

  livenessProbe:
    exec:
      command:
        - mongosh
        - --quiet
        - --eval
        - "db.adminCommand('ping')"
    initialDelaySeconds: 30
    periodSeconds: 20
    timeoutSeconds: 5
    failureThreshold: 3

  authenticationMode: ["SCRAM"]

# Controls whether to use AWS Secrets Manager (True) or Auto-Generate (False)
  externalSecrets:
    enabled: true
  secretName: mongo-secret

  service:
    name: mongo
    port: 27017
    type: ClusterIP
